@mixin bloque__1 ($margin){
    width: 350px;
    height: 200px;
    transition: height 2s width 3s;
    transform: scale(2,1);
    transform: translate(10px, 2px);
    margin: $margin; 
}

.imagen_1{
    @include bloque__1;
}

.imagen_1:hover{
    height: 20px;
    width: 200px;
}

.imagen_2{
    @include bloque__1;
}

.imagen_2:hover{
    height: 200px;
    width: 200px;
}

.imagen_3{
    @include bloque__1 (20px);
}

.imagen_3:hover{
    height: 200px;
    width: 200px;
}/*